* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*As i have created a HTML element <header> i changed the CSS selectors to reflect this */ 

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*added the article to the CSS selector to properly show where on the HTML it is for*/

article.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Moved this CSS selector up as it was the next one in the HTMl doc, so i am putting it in order, also added the element name article to properly refence its target destination */

article.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Moved this CSS selectors up and put them in order, based on their order in the HTML doc, also added the element name <article> and <section> to properly refence its target destination */

article section.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article section.search-engine-optimization img {
    max-height: 200px;
}

/*Created the CSS selector aside section h2 {. This will apply to all the <h3> labels in the aside area, all the labels have the same formating so don't require duplicates for each class label. */

article section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

article section.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article section.online-reputation-management img {
    max-height: 200px;
}

article section img.float-right {
    float: right;
    margin-left: 25px;
}

article section.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article section.social-media-marketing img {
    max-height: 200px;
}

article section img.float-left {
    float: left;
    margin-right: 25px;
}

/*corrected the CSS selector name to aside. Deleted the .benefits selector title as it is no longer required.*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*All 3 classes within the aside area had the same formating for margin-bottom and color, so i created one CSS selector and this will apply to all of the areas.*/

aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Created the CSS selector aside section h3. This will apply to all the <h3> labels in the aside area, all the labels have the same formating so don't require duplicates for each class label. */
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*All of the images in the aside area fall under the location of: aside section img {}. They also have the same formating. There only one CSS selector is required and it will apply to all of them */

aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*I added a footer element to the HTML document so i corrected the CSS selector below, to reflect that. */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
